<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-9">
      <div class="card">
          <div class="card-header">
            <h3>Sign up</h3>
          </div>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs mx-5 my-5">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>
              <%= f.input :username,
                          required: true,
                          autofocus: true %>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
            </div>
            <div class="form-actions mx-5 my-5">
              <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
              <br>
              <%= render "devise/shared/links" %>
              <% end %>
            </div>
      </div>
    </div>
  </div>
</div>
