<!--
<div class="container w-30 d-flex justify-content-center flex-wrap mt-3 flex-column align-items-center">
    <% @communities_search.each do |community| %>
      <div class="badge rounded-pill bg-primary mb-3">
        <%= link_to community_path(community) do %>
          <div>
            <span class="h6"><strong><%= community.name %></span></strong>
          </div>
        <% end %>
      </div>

    <% end %>
</div>

<div>
  <%= link_to new_meme_path do %>
    <button type="button" class="btn btn-primary">New Meme</button>
  <% end %>
</div>

<div class="container mt-5">
  <div class="row">


<!-- Left Sidebar Content -->
<div class="left-sidebar">
  <h3>My Communities</h3>
  <div>
    <% @communities.each do |community| %>
      <span><strong><%= link_to community.name, memes_path(filter: community.name), class: "btn btn-primary mb-1 w-100" %></span></strong>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <!-- Memes Feed -->
    <div class="col-md-8">
      <div class="container w-100 d-flex justify-content-center flex-wrap mt-5 flex-column align-items-center">
    <% @memes.each do | meme | %>
    <div class="meme-container">
      <div class="meme-card">
        <span class="meme-title"><%= meme.title %></span>
        <%= cl_image_tag meme.photo.key if meme.photo.attached? %>
      </div>
      <div class="meme-card-infos" data-controller="votings">
          <span data-votings-target="upvotes" class="meme-card-score"><%= meme.score %></span>
          <div class="meme-card-vote">
            <% vote = meme.votes.where(user: current_user).first %>
            <% if meme.voted_by_current_user?(current_user) %>
            <%# buttons when votes already exists %>
              <%= button_to '<i class="fa-solid fa-arrow-up"></i>'.html_safe, meme_vote_path(meme, vote, vote:"up"),
              method: :patch,
              remote: true,
              class: "btn btn-primary me-1 rounded-circle #{ 'clicked-vote' if !vote.nil? && vote.voted == true }" %>
              <%= button_to '<i class="fa-solid fa-arrow-down"></i>'.html_safe, meme_vote_path(meme, vote, vote:"down"),
              method: :patch,
              remote: true,
              class: "btn btn-primary rounded-circle #{ 'clicked-vote' if !vote.nil? && vote.voted == false }" %>
            <% else %>
              <%# buttons when votes NOT exists %>
              <%= button_to '<i class="fa-solid fa-arrow-up"></i>'.html_safe, meme_votes_path(meme, vote:"up"),
              method: :post,
              remote: true,
              class: "btn btn-primary me-1 rounded-circle #{ 'clicked-vote' if vote == true  }" %>
              <%= button_to '<i class="fa-solid fa-arrow-down"></i>'.html_safe, meme_votes_path(meme, vote:"down"),
              method: :post,
              remote: true,
              class: "btn btn-primary rounded-circle #{ 'clicked-vote' if vote == false}" %>
            <% end %>
          </div>
          <span class="meme-comments">Comments</span>
        </div>
      </div>
    <% end %>
  </ul>
</div>
    </div>


  </div>
</div>

<div class="right-sidebar">
  <div class="leaderboard">
    <h4>Leaderboard</h4>
    <div class="leader-table">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">username</th>
      <th scope="col">votes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>mark_122</td>
      <td>22</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>jacob_the_king</td>
      <td>19</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>meme_hero007</td>
      <td>15</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>tuku_is_best</td>
      <td>13</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>mickey_the_mouse</td>
      <td>9</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>hahahaha_funny</td>
      <td>4</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>bla99</td>
      <td>2</td>
    </tr>
  </tbody>
</table></div>
  </div>

  <div class="ruleboard">
    <h3>Ruleboard</h3>
    <div class="rule">
      <h4>#1</h4>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
    </div>
    <div class="rule">
      <h4>#2</h4>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
    </div>
    <div class="rule">
      <h4>#3</h4>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
    </div>

  </div>
</div>
