<div class="container w-75 d-flex justify-content-center flex-wrap mt-5 flex-column align-items-center">
    <% @memes.each do | meme | %>
    <div class="meme-container">
      <div class="meme-card">
        <span class="meme-title"><%= meme.title %></span>
        <%= cl_image_tag meme.photo.key if meme.photo.attached? %>
      </div>
      <div class="meme-card-infos" data-controller="votings">
          <span data-votings-target="upvotes" class="meme-card-score"><%= meme.score %></span>
          <div class="meme-card-vote">
            <%# if meme.voted_by_current_user?(current_user) %>
              <%#= button_to "UP_VOTE", meme_votes_path(meme), method: :post, remote: true, class: "btn btn-primary btn-lg" %>
            <%# else %>
              <%#= button_to "DOWN_VOTE", meme_votes_path(meme), method: :post, remote: true %>
            <%# end %>

              <%= button_to "UP_VOTE", meme_votes_path(meme), method: :post, remote: true, class: "btn btn-primary" %>
              <%= button_to "DOWN_VOTE", meme_votes_path(meme),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>

            <%# <button data-action="click->votings#upvote" class="upvote"><i class="fa-solid fa-caret-up"></i></button>
            <button class="downvote"><i class="fa-solid fa-caret-down"></i></button> %>
          </div>
          <span class="meme-comments">Comments</span>
        </div>
      </div>
    <% end %>
  </ul>
</div>
