<!-- app/views/communities/show.html.erb -->
<div id="comm-show" class="container">

<% if @membership.id %>

  <% if @membership.status == "approved" %>
    <span><%= @membership.status %> 🥳</span>

    <%# insert page content for approved members %>

<div id="comm-profile" class="container pb-6">
  <div class="row">
    <div class="col-md-9">
      <div class="community-details">
        <h1><%= @community.name %></h1>
        <p><%= @community.description %></p>
        <hr>
        <%#   --- CURRENT CHALLENGE ---  %>
        <% @challenge_current.each do |challenge| %>
        <div class="col-sm d-flex justify-content-between align-items-center">
            <h3 class="pe-5 ">Active Challenge:<br> <strong><%= challenge.name %></strong></h3>
        <% if !challenge.memes.first.nil? %>
          <%= cl_image_tag challenge.memes.first.photo.key %>
        <% else %>
          <%= image_tag "jk-placeholder-image.jpg", class: "d-block w-50" %>
        <% end %>
        </div>
        <% end %>
        <%#   --- CURRENT CHALLENGE --- END  %>
        <hr>
        <div class="container">
      <div class="row">
            <%#   --- ARCHIVED CHALLENGES ---  %>
    <% @challenges.each do |challenge| %>
      <div class="col-sm archived" data-label="Inactive">
    <% if !challenge.memes.first.nil? %>
      <%= cl_image_tag challenge.memes.first.photo.key %>
    <% else %>
      <%= image_tag "jk-placeholder-image.jpg", class: "d-block w-100" %>
      <% end %>
      <p><%= challenge.name %></p>
      </div>
    <% end %>
    <%= simple_form_for [@community, @challenge] do |f| %>
      <span>Create a new Challenge</span>
      <%= f.input :name, label: false, placeholder: "Please give it a name" %>
      <%= f.button :submit, "Create", class: "btn btn-primary" %>
    <% end %>
          <%#   --- ARCHIVED CHALLENGES --- END  %>
    </div>
  </div>
      </div>
    </div>

    <div class="col-md-3 comm-members">
      <div class="">
        <h3>Community Members</h3>
        <ul class="list-group">
          <% @community.users.each do |user| %>
            <li class="list-group-item"><%= user.username %></li>
          <% end %>
        </ul>
      </div>
    </div>
</div>

  <% elsif @membership.status == "pending" %>
    <%= @membership.status %>
    <p>Please, be patient, we are processing your membership request.</p>
  <% else %>
    <%= @membership.status %>
    <p>Sorry, your request was rejected.</p>
  <% end %>

<% elsif @community.user == current_user %>
  <%= link_to community_memberships_path(@community), data: { turbo: false } do %>
    <button type="button" class="btn btn-primary">View Memberships</button>
  <% end %>

<% else %>
  <%= simple_form_for [@community, @membership] do |f| %>
    <%= f.button :submit, "Apply for Membership", disabled: @membership.persisted?, class: "btn btn-primary" %>
  <% end %>
<% end %>
