<h1><%= @community.name %></h1>

<% if @membership.id %>

  <% if @membership.status == "approved" %>
    <%= @membership.status %>
  <% elsif @membership.status == "pending" %>
    <%= @membership.status %>
    <p>Please, be patient, we are processing your membership request.</p>
  <% else %>
    <%= @membership.status %>
    <p>Sorry, your request was rejected.</p>
  <% end %>

<% elsif @community.user == current_user %>
  <%= link_to community_memberships_path(@community), data: { turbo: false } do %>
    <button type="button" class="btn btn-primary">View Memberships</button>
  <% end %>

<% else %>
  <%= simple_form_for [@community, @membership] do |f| %>
    <%= f.button :submit, "Apply for Membership", disabled: @membership.persisted? %>
  <% end %>
<% end %>
