<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top shadow bg-dark">
  <div class="container-fluid">
    <%= link_to memes_path, class: "navbar-brand" do %>
    <p class="m-0 fs-2 text-white">Le<strong class="text-primary">Meme</strong></p>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <!-- search -->
    <div class="container w-50">
      <%= form_with url: memes_path, method: :get, class: "d-flex mx-5" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find communities ..."
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1681714164/dyrov7qduicojng65ivy.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Log out",  destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            <%= link_to "Reset password", "#", class: "dropdown-item" %>
          </div>
        </li>
        <% else %>
        <!--li class="nav-item"-->
        <%= link_to "Login", user_session_path, class: "nav-link text-dark btn btn-info fw-bold" %>
        <%= link_to "Sign up", new_user_registration_path, class: "nav-link text-light fw-bold" %>

        <!--/li-->
        <% end %>
      </ul>
    </div>
  </div>
</div>
