<!DOCTYPE html>
<html>
  <head>
    <title>RailsLememe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'community-form', media: 'all' %>


      <%= render "layouts/navbar" %>
      <%= render "shared/flashes" %>

      <%= yield %>
    </div>
  </body>

</html>
